//  about cards style
.is__grid {
  display: flex;
  flex-wrap: wrap;
  gap: 2em;
  justify-content: space-between;
  padding: 1.3em !important;
  margin: 0 auto;
  position: relative;
  z-index: 1;
  background: $white;
  flex-direction: column;

  @include mq("tablet") {
    flex-direction: row;
    justify-content: start;
    padding: 5em 3.8em !important;
  }
  @include mq("tablet-wide") {
    flex-direction: row;
    justify-content: start;
    padding: 5em 4.5em !important;
  }
  @include mq(desktop) {
    flex-direction: row;
    justify-content: space-between;
    padding: 5em 6em !important;
  }
  @include mq(desktop-wide) {
    flex-direction: row;
    justify-content: space-between;
    padding: 5em 6.5em !important;
  }
  @include mq(desktop-large) {
    flex-direction: row;
    justify-content: space-between;
    padding: 5em 8em !important;
  }

  .is__grid > * {
    width: 100%;
    margin-bottom: 32px;

    @include mq("phablet") {
      width: calc(50% - 16px);
    }

    @include mq("tablet") {
      width: calc(33.33% - 16px);
      padding: 0em 3em;
    }

    @include mq("desktop") {
      width: calc(25% - 24px);
    }
    @include mq("desktop-large") {
      width: calc(25% - 24px);
      padding: 0em 5em;
    }
  }

  .aboutCard {
    background-color: $background-color;
    box-shadow: 0px $card-box-shadow-1-y $card-box-shadow-1-blur
        $card-box-shadow-1,
      0px $card-box-shadow-2-y $card-box-shadow-2-blur $card-box-shadow-2,
      0 0 0 1px $card-border-color;
  }

  .is__card {
    padding: 56px 16px 16px 16px;
    border-radius: 0.75em;
    cursor: pointer;
    position: relative;
    transition: box-shadow 0.25s;
    width: 100%;
    &:hover {
      &::before {
        opacity: 1;
      }
    }

    @include mq(tablet) {
      width: 16em;
    }
    @include mq(tablet-wide) {
      width: 14em;
    }
    @include mq(desktop) {
      width: 18em;
    }
    @include mq(desktop-wide) {
      width: 20em;
    }
    @include mq(desktop-large) {
      width: 40em;
    }
    .is__icon {
      z-index: 2;
      position: relative;
      display: table;
      padding: 8px;
      color: $secondary;

      img {
        position: relative;
        z-index: 1;
        display: block;
        width: 24px;
        height: 24px;
        transform: translateZ(0);
        color: $primary;
        transition: color 0.25s;
      }

      svg {
        position: absolute;
        z-index: 1;
        display: block;
        width: 140px;
        height: 140px;
        transform: translateZ(0);
        color: #002f55;
        transition: color 0.25s;
        opacity: 0.2;
        top: -3em;
        left: -9px;
      }
    }

    h4 {
      z-index: 2;
      position: relative;
      margin: 12px 0 4px 0;
      font-family: inherit;
      font-weight: 600;
      font-size: $h3-lg;
      line-height: 2;
      color: $secondary;
      top: 0;
      text-transform: uppercase;

      @include mq("tablet") {
        font-size: $h2-md;
      }
      @include mq("tablet-wide") {
        font-size: $h2-md;
      }
      @include mq("desktop") {
        font-size: $h4-lg;
      }
      @include mq("desktop-wide") {
        font-size: $h2-lg;
      }
      @include mq("desktop-large") {
        font-size: $h4;
      }
    }

    p {
      z-index: 2;
      position: relative;
      margin: 0;
      // font-size: $p-sm;
      font-size: $h4-lg;

      line-height: 1.7;
      color: $secondary;

      // @include mq("tablet") {
      //   font-size: $p-md;
      // }
      // @include mq("tablet-wide") {
      //   font-size: $p-md;
      // }
      // @include mq("desktop") {
      //   font-size: $p-md;
      // }
      // @include mq("desktop-wide") {
      //   font-size: $p-md;
      // }
      // @include mq("desktop-large") {
      //   font-size: $p-lg;
      // }
    }

    &:hover {
      box-shadow: 0px 3px 6px $card-hover-box-shadow-1,
        0px $card-hover-box-shadow-2-y $card-hover-box-shadow-2-blur
          $card-hover-box-shadow-2,
        0 0 0 1px $card-hover-border-color;

      .is__icon {
        &::after {
          background-color: $card-hover-icon-background-color;
          border-color: rgba($primary, 0.7);
        }

        svg {
          color: rgba($primary, 1);
        }
      }
    }
  }
}

// course card
// .is__card-section {
//   display: flex;
//   flex-direction: column;

//   gap: 2em;
//   flex-basis: 1em;
//   transition: all 0.3s ease;
//   width: 100%;

//   .courseCard {
//     display: flex;
//     // flex-wrap: wrap;
//     justify-content: center;
//     gap: 2em;
//     flex-direction: column;
//     padding: 2em 0em;
//     // background-color: $secondary;
//     box-shadow: 0px $card-box-shadow-1-y $card-box-shadow-1-blur
//         $card-box-shadow-1,
//       0px $card-box-shadow-2-y $card-box-shadow-2-blur $card-box-shadow-2,
//       0 0 0 1px $card-border-color;

//     // .courseCard {
//     width: 90%;
//     max-width: 400px;
//     margin: 1rem;
//     background-color: $white;
//     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
//     border-radius: 8px;
//     overflow: hidden;
//     transition: transform 0.2s ease-in-out;

//     &:hover {
//       transform: scale(1.02);
//     }

//     .is__course-content {
//       padding: 2rem;
//       width: 70vw;

//       &-link {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: row;
//         gap: 2em;

//         .is__icon {
//           width: 40%;
//           max-width: 100px;
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           // background: rgba($primary, 0.3);

//           img {
//             max-width: 100%;
//             height: auto;
//           }
//         }

//         .is__course-content-title {
//           font-size: 1.5rem;
//           margin-left: 1.5rem;

//           a {
//             color: $dark;
//             transition: all 0.3s ease;
//             &:hover {
//               color: $primary;
//             }
//           }
//         }
//       }
//     }
//     // }
//   }
// }

// .is__course-section {
//   display: flex;
//   gap: 2em;
//   flex-direction: column;
//   transition: all 0.4s ease;
//   flex-wrap: no-wrap;
//   width: 100%;

//   @include mq("phablet") {
//     flex-direction: row;
//     transition: all 0.3s ease;
//     flex-wrap: wrap;
//   }
//   @include mq("tablet") {
//     flex-direction: row;
//     transition: all 0.3s ease;
//   }
//   @include mq("desktop") {
//     flex-direction: row;
//     transition: all 0.3s ease;
//     flex-wrap: wrap;
//   }
//   @include mq("desktop-wide") {
//     flex-direction: row;
//     transition: all 0.3s ease;
//   }
//   @include mq("desktop-large") {
//     flex-direction: row;
//     transition: all 0.3s ease;
//   }
//   .courseCard {
//     width: 90%;
//     margin: 1rem;
//     background-color: $white;
//     box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
//     border-radius: 8px;
//     overflow: hidden;
//     transition: transform 0.2s ease-in-out;

//     &:hover {
//       transform: scale(1.02);
//     }

//     .is__course-content {
//       padding: 2rem;
//       // width: 70vw;

//       &-link {
//         display: flex;
//         align-items: center;
//         justify-content: center;
//         flex-direction: row;
//         gap: 2em;

//         .is__icon {
//           width: 40%;
//           max-width: 100px;
//           display: flex;
//           align-items: center;
//           justify-content: center;
//           // background: rgba($primary, 0.3);

//           img {
//             max-width: 100%;
//             height: auto;
//           }
//         }

//         .is__course-content-title {
//           font-size: 1.5rem;
//           margin-left: 1.5rem;

//           a {
//             color: $dark;
//             transition: all 0.3s ease;
//             &:hover {
//               color: $primary;
//             }
//           }
//         }
//       }
//     }

//     @include mq(phablet) {
//       width: 16em;
//     }
//     @include mq(tablet-small) {
//       width: 19em;
//     }
//     @include mq(tablet) {
//       width: 30em;
//       background: royalblue;
//     }
//     @include mq(tablet-wide) {
//       width: 17em;
//     }
//     @include mq(desktop) {
//       width: 22em;
//     }
//     @include mq(desktop-wide) {
//       width: 18em;
//     }
//     @include mq(desktop-large) {
//       width: 19em;
//     }
//   }
// }

.is__course-section {
  display: flex;
  gap: 2em;
  flex-direction: column;
  transition: all 0.4s ease;
  flex-wrap: no-wrap;
  width: 100%;

  @include mq("phablet") {
    flex-direction: row;
    transition: all 0.3s ease;
    flex-wrap: wrap;
  }
  @include mq("tablet") {
    flex-direction: row;
    transition: all 0.3s ease;
  }
  @include mq("desktop") {
    flex-direction: row;
    transition: all 0.3s ease;
    flex-wrap: wrap;
  }
  @include mq("desktop-wide") {
    flex-direction: row;
    transition: all 0.3s ease;
  }
  @include mq("desktop-large") {
    flex-direction: row;
    transition: all 0.3s ease;
  }
  .courseCard {
    width: 90%;
    margin: 1rem 0;
    background-color: $background-color;
    box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    overflow: hidden;
    transition: transform 0.2s ease-in-out;

    &:hover {
      transform: scale(1.02);
    }

    .is__course-content {
      padding: 2rem;
      // width: 70vw;

      &-link {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: row;
        gap: 2em;

        .is__icon {
          width: 40%;
          max-width: 100px;
          display: flex;
          align-items: center;
          justify-content: center;
          // background: rgba($primary, 0.3);

          img {
            max-width: 100%;
            height: 2em;
          }
        }

        .is__course-content-title {
          font-size: 1.5rem;
          margin-left: 1.5rem;

          a {
            color: $dark;
            transition: all 0.3s ease;
            &:hover {
              color: royalblue;
            }
          }
        }
      }
    }

    @include mq(phablet) {
      width: 12em;

      flex-wrap: wrap;
    }
    @include mq(tablet-small) {
      width: 15em;
    }
    @include mq(tablet) {
      width: 15em;
    }
    @include mq(tablet-wide) {
      width: 14em;
    }
    @include mq(desktop) {
      width: 18em;
    }
    @include mq(desktop-wide) {
      width: 16em;
    }
    @include mq(desktop-large) {
      width: 27em;
    }
  }
}

// study abroad card
.is__studyAbroad-section {
  display: flex;
  gap: 2em;
  flex-direction: column;
  transition: all 0.4s ease;
  flex-wrap: wrap;
  width: 100%;

  @include mq("phablet") {
    flex-direction: row;
    transition: all 0.3s ease;
    padding: 0em 1em;
  }
  @include mq("tablet") {
    flex-direction: row;
    transition: all 0.3s ease;
    padding: 0em 1.5em;
  }

  .is__studyAbroadCards {
    // width: 29em;
    height: 300px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    transition: all 300ms;

    @include mq(phablet) {
      width: 16em;
    }
    @include mq(tablet-small) {
      width: 19em;
    }
    @include mq(tablet) {
      width: 15em;
    }
    @include mq(tablet-wide) {
      width: 16em;
    }
    @include mq(desktop) {
      width: 22em;
    }
    @include mq(desktop-wide) {
      width: 14em;
    }
    @include mq(desktop-large) {
      width: 18em;
    }

    &-background {
      height: 100%;
      width: 100%;
      transition: all 0.4s ease-out;
      position: relative;
      opacity: 0.9;
      filter: grayscale(75%);

      img {
        width: 100%;
        height: 100%;
        background-size: cover;
        background-position: center center;
      }
      &::after {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background: $dark;
        opacity: 0.31;
      }
      &::before {
        content: "";
        position: absolute;
        height: 100%;
        width: 100%;
        background-color: rgba(0, 0, 0, 0.486);
        z-index: 1;
      }
    }

    &:hover {
      transform: translateY(-5px);

      .is__studyAbroadCards-background {
        transform: scale(1.05);
        filter: grayscale(25%);
      }
    }

    &-content {
      background: linear-gradient(to top, rgba(black, 0.8), transparent);
      border-radius: 10px;
      height: 100%;
      width: 100%;
      padding: 2em;

      > * + * {
        margin-top: 1rem;
      }

      &-items {
        bottom: 0px;
        display: flex;
        flex-direction: column;
        margin: 20px;
        position: absolute;
        left: 0px;
        text-align: left;
        transition: margin 250ms;

        .is__studyAbroadCards-title {
          color: $white;
          font-size: 2em;
          font-family: $Poppins;
        }
        .is__studyAbroadCards-desc {
          color: $white;
          font-size: 1em;
          font-family: $Poppins;
        }
      }
    }
  }

  // @include mq("tablet-small") {
  //   // Add styles for tablet-small here
  //   .is__studyAbroadCards-title {
  //     font-size: 2.5em;
  //   }
  //   .is__studyAbroadCards-desc {
  //     font-size: 1.25em;
  //   }
  // }

  // @include mq("tablet") {
  //   // Add styles for tablet here
  //   .is__studyAbroad-section {
  //     flex-direction: row;
  //   }
  //   .is__studyAbroadCards-title {
  //     font-size: 3em;
  //   }
  //   .is__studyAbroadCards-desc {
  //     font-size: 1.5em;
  //   }
  // }

  // @include mq("tablet-wide") {
  //   // Add styles for tablet-wide here
  //   .is__studyAbroadCards-title {
  //     font-size: 3.5em;
  //   }
  //   .is__studyAbroadCards-desc {
  //     font-size: 1.75em;
  //   }
  // }

  // @include mq("desktop") {
  //   // Add styles for desktop here
  //   .is__studyAbroadCards-title {
  //     font-size: 4em;
  //   }
  //   .is__studyAbroadCards-desc {
  //     font-size: 2em;
  //   }
  // }

  @include mq("desktop-wide") {
    // Add styles for desktop-wide here
  }

  @include mq("desktop-large") {
    // Add styles for desktop-large here
    .is__studyAbroadCards-title {
      font-size: 4.5em;
    }
    .is__studyAbroadCards-desc {
      font-size: 2.25em;
    }
  }
}
