// .is__hero {
//   z-index: 10;
//   overflow: hidden;
//   position: relative;
//   // padding: 5rem 0;
//   background-color: $white;
//   height: 90vh;

//   .background {
//     position: absolute;
//     // height: 100vh;
//     // width: 100vw;
//     width: 100%;
//     z-index: -1;
//     transform: translate(-50%, -50%);
//     left: 50%;
//     top: 50%;
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     opacity: 0.6;
//     .is__background-map {
//       position: relative;
//       width: 100%;

//       &:after {
//         content: "";
//         position: absolute;
//         height: inherit;
//         width: inherit;
//         background: $dark;
//         opacity: 0.5;
//         top: 0;
//         bottom: 0;
//         left: 0;
//         right: 0;
//       }
//       @include mq(tablet) {
//         width: 80%;
//       }
//     }
//   }

//   &_content {
//     // color: $dark;
//     padding: 5em 0em;
//     display: flex;
//     justify-content: center;
//     flex-direction: column;
//     align-items: flex-start;
//     line-height: 1.5;
//     margin: 0.625rem;
//     position: relative;
//     color: $dark;
//     text-align: start;
//     margin: 0.625rem;

//     h1 {
//       font-size: 2em;
//       font-weight: 600;
//       margin-bottom: 0;
//     }

//     p {
//       font-size: 1.3em;
//       margin-top: 1rem;
//       margin-bottom: 40px;
//       line-height: 1.5;
//     }
//   }
// }

.heading {
  &-xl {
    font-family: inherit;
    font-size: clamp(2.648rem, 6vw, 4.241rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
    color: $secondary;
  }

  &-lg {
    font-family: inherit;
    font-size: clamp(2.179rem, 5vw, 3.176rem);
    font-weight: 700;
    line-height: 1.15;
    letter-spacing: -1px;
    color: $secondary;
  }

  &-md {
    font-family: inherit;
    font-size: clamp(1.794rem, 4vw, 2.379rem);
    font-weight: 700;
    line-height: 1.25;
    letter-spacing: -1px;
    color: $secondary;
  }
}

.banner {
  padding: 4em 0;
  &-column {
    position: relative;
    display: grid;
    align-items: center;
    row-gap: 2rem;

    // Responsive Media Query
    @include mq(tablet) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
      justify-content: center;
    }

    @include mq(desktop) {
      grid-template-columns: 1fr max-content;
      column-gap: 2rem;
    }
  }

  &-image {
    display: block;
    max-width: 25rem;
    height: auto;
    object-fit: cover;
    justify-self: center;
    display: block;
    max-width: 100%;
    height: auto;
    object-fit: cover;

    // Responsive Media Query
    @media only screen and (min-width: 48rem) {
      order: 1;
      max-width: 23rem;
      height: auto;
      color: $secondary;
    }

    @media only screen and (min-width: 64rem) {
      max-width: 33rem;
      height: auto;
    }
  }

  &-inner {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    row-gap: 1.5rem;
    .paragraph {
      color: $dark;
    }
  }
}
