@import url("https://fonts.googleapis.com/css2?family=Acme&family=Poppins&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");

$Poppins: "Poppins";
$Montserrat: "Montserrat";

// font sizes for small devices
$h1-sm: 21px;
$h2-sm: 18px;
$h3-sm: 15px;
$h4-sm: 12px;

$p-sm: 0.825em;

// font sizes for tablets devices
$h1-md: 22px;
$h2-md: 20px;
$h3-md: 18px;
$h4-md: 16px;

$p-md: 1.2em;

// font sizes for desktop and larger devices
$h1-lg: 2.2em;
$h2-lg: 26px;
$h3-lg: 24px;
$h4-lg: 22px;

$p-lg: 2.083em;

$h1: 1.802em;

$h2: 1.602em;
$h3: 1.424em;
$h4: 1.266em;
$h5: 1.125em;
